<body class="home">

  <form method="POST" , action="" , class="number-input-1">
    <label>Data 1</label>
    <input id="number-1" name="number1" value="{{number1}}" />
    <button type="submit">Submit 1</button>
  </form>

  <form method="POST" , action="" , class="number-input-2">
    <label>Data 2</label>
    <input id="number-2" name="number2" value="{{number2}}" />
    <button type="submit">Submit 2</button>
  </form>

  <form method="POST" , action="" , class="number-input-3">
    <label>Data 3</label>
    <input id="number-3" name="number3" value="{{number3}}" />
    <button type="submit">Submit 3</button>
  </form>

  <form method="POST" , action="" , class="number-input-4">
    <label>Data 4</label>
    <input id="number-4" name="number4" value="{{number4}}" />
    <button type="submit">Submit 4</button>
  </form>

  <form method="POST" , action="" , class="number-input-5">
    <label>Data 5</label>
    <input id="number-5" name="number5" value="{{number5}}" />
    <button type="submit">Submit 5</button>
  </form>

  <form method="POST" , action="" , class="number-input-6">
    <label>Data 6</label>
    <input id="number-6" name="number6" value="{{number6}}" />
    <button type="submit">Submit 6</button>
  </form>

  <form method="POST" , action="" , class="number-input-7">
    <label>Data 7</label>
    <input id="number-7" name="number7" value="{{number7}}" />
    <button type="submit">Submit 7</button>
  </form>

  <form method="POST" , action="" , class="number-input-8">
    <label>Data 8</label>
    <input id="number-8" name="number8" value="{{number8}}" />
    <button type="submit">Submit 8</button>
  </form>

</body>